<template>

    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <template>
                <v-progress-linear
                        v-if="loading"
                        :indeterminate="true"
                        color="error"
                ></v-progress-linear>
            </template>

            <v-flex xs12>
                <h1 class="pb-5" v-if="farm">Day: <span class="day">{{day}}</span> Farm: {{farm}}</h1>
            </v-flex>
            <v-flex v-for="yard in items" :key="`yard_${yard.id}`" xs12 sm6>
                <v-card-text class="yard px-0">
                    <h2>{{yard.name}}</h2>
                    <v-layout row wrap>
                        <v-flex v-for="single_sheep in yard.sheep" :key="`sheep_${single_sheep.id}`" xs1>
                            <div class="sheep_single px-0">
                                <v-tooltip bottom>
                                    <img slot="activator" src="/images/sheep.png" alt="">
                                    <span>{{single_sheep.name}}</span>
                                </v-tooltip>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-flex>
        </v-layout>
    </v-container>

</template>


<script>
    export default {
        data() {
            return {
                farmID: this.$route.params['id'],
                interval: null,
            }
        },
        computed: {
            items() {
                return this.$store.getters['farm/items']
            },
            farm() {
                return this.$store.getters['farm/farm']
            },
            day() {
                return this.$store.getters['farm/day']
            },
            loading() {
                return this.$store.getters['farm/loading']
            },
        },
        methods: {
            loadData: function () {
                this.$store.dispatch('farm/tick', this.farmID)
            }
        },
        beforeMount: async function () {
            await this.$store.dispatch('farm/getAll', this.farmID)
        },
        mounted: function () {
            this.loadData();
            this.interval = setInterval(function () {
                this.loadData();
            }.bind(this), 10000);
        },
        beforeDestroy: function () {
            this.$store.dispatch('farm/clearItems')
            clearInterval(this.interval);
        }
    }
</script>

<style scoped lang="scss">
    .day {
        font-size: 42px;
        color:  #C62828;
    }
    .yard {
        border-radius: 10px;
        background: #b6ff90;
        padding: 0 10px;
    }

    .sheep_single {
        font-size: 8px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
</style>