<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 class="pb-5">
                <h1 class="pb-1">Фермы</h1>
                <v-btn @click="createfarm" :loading="loading" color="info">Добавить новую ферму</v-btn>
            </v-flex>
            <v-flex v-for="farm in farms" :key="`farm_${farm.id}`" xs12 sm6>
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{farm.name}}</h3>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <router-link
                                :to="`farm/${farm.id}`"
                        >
                            <v-btn color="success">Подробнее</v-btn>
                        </router-link>
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {}
        },
        beforeMount: async function () {
            await this.$store.dispatch('farm/list')
        },
        computed: {
            loading() {
                return this.$store.getters['farm/loading']
            },
            farms() {
                return this.$store.getters['farm/list']
            }
        },
        methods: {
            createfarm: function () {
                this.$store.dispatch('farm/createFarm')
            }
        },
    }
</script>

<style scoped>

</style>